.expenses{
    text-align: center;
    font-size: 2rem;
    /* background-color: rgb(86, 134, 177); */
}


.addExpense{
    background-color: var(--bs-tertiary-bg);
    padding: 20px;
    border-radius: 20px;    
}
.csvbtn{
    background-color: rgb(103, 139, 48);
    border-radius: 10px;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: large;
    
}