.expenses{
    text-align: center;
    font-size: 2rem;
    /* background-color: rgb(86, 134, 177); */
}


.addExpense{
    background-color: rgb(86, 134, 177);
    padding: 20px;
    border-radius: 20px;
    /* box-shadow: 0px px 8px rgba(0, 0, 0, 0.3); */

}